<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM</title>
    <link rel="stylesheet" href="../Style/adm-style.css">
</head>

<body>
    <div class="containerADM">

        <div class="btnEscolha">
            <div class="contaiTit">
                <h1>TITULO</h1>
            </div>
            <input type="submit" class="Usu" value="Usuarios">
            <input type="submit" class="Prod" value="Produtos">
            <input type="submit" class="Parc" value="Parceiros">
            <input type="submit" class="AddProd" value="Cadastrar Produtos">
            <input type="submit" class="AddCol" value="Cadastrar Parceiros">
            <input type="submit" class="Rel" value="Relatório">
        </div>

        <div class="containerDisplay">
            <div class="exibirDatabase">
                <iframe src="../usuarios.php" frameborder="0"width="100%" height="100vh"></iframe>

            </div>
            <div class="exibirProdutos">

            </div>

            <div class="exibirParceiros">

            </div>

            <div class="cadastrarProd">

            </div>
            <div class="cadastrarParcei">

            </div>
            <div class="exibirRelat">

            </div>
        </div>
    </div>
</body>

</html>