<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Style/carrinho.css">
</head>

<body>

    <div class="container-carrinho">
        <div class="fund-carrinho">
            <div class="tit-carrin">
                <h1>Carrinho de compras</h1>
            </div>

            <div class="itens-carrinho">
                <div class="img-carrin">
                    <img src="" alt="">
                </div>
                <div class="tit-carrin-prod">
                    <h2>TituloTituloTitulo</h2>
                </div>
                <div class="preco-carrin">
                    <h2>R$19,99</h2>
                </div>
                <div class="add-prod-carrin">
                    <img src="" alt="menos">
                    <input type="number">
                    <img src="" alt="mais">
                </div>
                <div class="prod-total">
                    <h1>PRECO TOTAL</h1>
                </div>
                <div class="excluir-prod">
                    <img src="" alt="Deletar">
                </div>
            </div>

            <div class="btn-comprar">
                <input type="submit" value="Comprar">
            </div>
        </div>
    </div>
</body>
<script src="../Script/carriho_script.js"></script>
</html>