<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site teste!</title>
</head>

<body>
    <nav>
        <h1></h1>
    </nav>
    <h1>Escolha</h1>

    <input type="button" id="login" name="login.php">

    <input type="button" id="cadastro" name="cadastro" href="cadastrar.php">
    <input type="button" src="" id="login" name="login.php">

    <input type="button" id="cadastro" name="cadastro" href="cadastrar.php">
    
</body>

</html>