<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Style/produtos.css">
</head>

<body>

    <div class="container">
        <div class="contain-fund-prod">
            <div class="tit-pag">
                <h1>PRODUTOS</h1>
            </div>
            <div class="produt" id="produtos">
                
            </div>
        </div>
    </div>
</body>
<script src="../Script/produtos_script.js"></script>
</html>