<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir Usuarios</title>
</head>
<body>
    

    <h1>Usuarios na tabela </h1>

    <form action="./deletarUsuario.php" method="POST">
        <table border=1>
        <thead>
        
            <th>nome</th>
            <th>sobrenome</th>
            <th>datanascimento</th>
            <th>sexo</th>
            <th>email</th>
            <th>CPF</th>
            <th>celular</th>
            <th>telefone</th>
            <th>cep</th>
            <th>senha</th>
            <th>excluir</th>
        
            <style>
            thead {
                text-transform: uppercase;
                font-size:20px;
            }
        </style>
        </thead>'

        <tbody>
            <?php

            ?>
        </tbody>
</body>
</html>